@import "../../styles/variables.scss";

.year-range-picker {
    position: relative;
    font-size: 12px;
    color: $element-text;

    .year-range-select {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        width: 120px;
        cursor: pointer;
        font-size: 16px;
    }

    .year-range-panel-wraper {
        position: absolute;
        width: 380px;
        border: 2px solid $stroke;
        border-radius: 4px;
        color: $element-text;
        background-color: $element-bg;
        transition: all 0.3s;
        z-index: 2;
        top: 30px;
        left: -120px;

        .panel-header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: $tertiary-bg;
            color: $tertiary-text;
            padding: 12px 0;

            .selected-range {
                font-size: 14px;
            }
        }

        .panel-body {
            display: flex;
            border-top: 1px solid $stroke;
            width: 100%;
        }
    }
}