@import "../../styles/variables.scss";

.header {
    display: flex;
}

.selected-range {
    font-size: 14px;
}

.range-arrow {
    border-radius: 10px;
    padding: 0 4px;
    margin: 0 2px;

    &:hover {
        background-color: $gray-500;
    }
}