@import "../../../styles/variables.scss";

.label {
    font-size: 12px;
    margin-left: 4px;
    background: $tertiary-bg;
    color: $tertiary-text;
    padding: 0px 2px;
}

.label[disabled] {
    color: $disable-color;
}