$white: #fff;

$opacity-box-shadow: 0.3;
$stroke: #001e1d;

$disable-color: #ccc;
$disable-bg-color: #eee;

$primary-bg: #e1e1f3;
$primary-text: #232946;

$secondary-bg: #fff;
$secondary-text: #232946;

$tertiary-bg: #b2b2dd;
$tertiary-text: #001e1d;

$element-bg: #fff;
$element-text: #232946;

$highlight-bg: #b2b2dd;
$highlight-text: #001e1d;

$highlight-bg-2: #b2b2dd;
$highlight-text-2: #001e1d;
