$white: #fff;

$opacity-box-shadow: 0.3;
$disable-color: #CCC;
$disable-bg-color: #EEE;
$stroke: #001E1D;

$primary-bg: #F4F5FD;
$primary-text: #FFFFFE;

$secondary-bg: #FEFFFF;
$secondary-text: #232946;

$tertiary-bg: #EEBBC3;
$tertiary-text: #232946;

$element-bg: #ECECF8;
$element-text: #232946;

$highlight-bg: #F9BC60;
$highlight-text: #001E1D;

$highlight-bg-2: #FFD803;
$highlight-text-2: #272343;