$white: #fff;

$opacity-box-shadow: 0.3;
$disable-color: #cccccc;
$disable-bg-color: #eeeeee;
$stroke: #001e1d;

$primary-bg: #F4F5FD;
$primary-text: #fffffe;

$secondary-bg: #FEFFFF;
$secondary-text: #232946;

$tertiary-bg: #eebbc3;
$tertiary-text: #232946;

$element-bg: #ECECF8;
$element-text: #232946;

$highlight-bg: #f9bc60;
$highlight-text: #001e1d;

$highlight-bg-2: #ffd803;
$highlight-text-2: #272343;