@import "../../../styles/variables.scss";

.panel {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    border-right: 1px solid $stroke;
}

.year {
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease-out;

    &:hover {
        color: $highlight-text-2;
        background-color: $highlight-bg-2;
    }

    &.active {
        color: $highlight-text;
        background-color: $highlight-bg;
    }
}