@import "../../../styles/variables.scss";

.panel {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    border-right: 1px solid #e2e4ec;
}

.year {
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease-out;

    &:hover {
        color: #fff;
        background-color: $gray-600;
    }

    &.active {
        color: #fff;
        background-color: $orange-800;
    }
}