@import "../../../styles/variables.scss";

.header {
    display: flex;
}

.rangeArrow {
    border-radius: 10px;
    padding: 0 4px;
    margin: 0 2px;

    &:hover {
        color: $highlight-text-2;
        background-color: $highlight-bg-2;
    }
}