@import "../../variables.scss";

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: $green-300;
    color: $green-800;
    font-size: 12px;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
}

.bubble span {
    transform: rotate(45deg);
}