.App {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    width: 50%;
}

.slider {
    width: 100%;
    -webkit-appearance: none;
    background-color: aquamarine;
    height: 10px;
    border-radius: 5px;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: blue;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}