.App {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    width: 50%;
}

.slider {
    width: 100%;
    -webkit-appearance: none;
    background-color: #acc2df;
    height: 7px;
    border-radius: 3px;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #3066b0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px RGBA(48, 102, 176, 0.1);
}

.slider:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 20px RGBA(48, 102, 176, 0.1);
}