.slider {
    width: 100%;
    -webkit-appearance: none;
    background-color: #acc2df;
    height: 7px;
    border-radius: 3px;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #3066b0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.slider::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 8px RGBA(48, 102, 176, 0.1);
}

.slider:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 12px RGBA(48, 102, 176, 0.1);
    height: 12px;
    width: 12px;
}

.slider:disabled {
    background-color: #EEEEEE;
    cursor: not-allowed;
}

.slider:disabled::-webkit-slider-thumb {
    background-color: #CCCCCC;
    cursor: not-allowed;
}

.slider-container {
    position: relative;
}

.min {
    position: absolute;
    left: 0;
}

.max {
    position: absolute;
    right: 0;
}