@import "../../variables.scss";

.slider {
    width: 100%;
    -webkit-appearance: none;
    background-color: $green-200;
    height: 7px;
    border-radius: 3px;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: $green-700;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.slider::-webkit-slider-thumb:hover {
    height: 18px;
    width: 18px;
}

.slider:active::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
}

.slider:disabled {
    background-color: $disable-bg-color;
    cursor: not-allowed;
}

.slider:disabled::-webkit-slider-thumb {
    background-color: $disable-color;
    cursor: not-allowed;
}

.slider-container {
    position: relative;
}

.min {
    position: absolute;
    left: 0;
}

.max {
    position: absolute;
    right: 0;
}